<main id="main" class="main">

    <div class="pagetitle">
      <h1>Brand</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Sub Brand</li>
          <li class="breadcrumb-item active">Add</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h5 class="card-title">{{ isEdit ? 'EDIT' : 'ADD' }} Brand</h5>                
                <button type="reset" class="btn btn-secondary" (click)="backTo()">Back</button>
              </div>


              <form (submit)="handleSubmit()">
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Brand</label>
                  <div class="col-sm-9">
                    <select class="form-select" id="categorySelect" [(ngModel)]="brand.subcat_id" name="cat_id" required>
                        <option selected value="">Select Sub Category</option>
                        <option *ngFor="let subcate of subcate" [value]="subcate.id">{{ subcate.sub_name }}</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Brand Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" [(ngModel)]="brand.brand_name[0]" name="brand_name" placeholder="Brand" *ngIf="!isEdit">
                    <input type="text" class="form-control" [(ngModel)]="brand.brand_name" name="brand_name" placeholder="Brand" *ngIf="isEdit">
                  </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Image Link</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" [(ngModel)]="brand.image_url[0]" name="image_url" placeholder="Image Url" *ngIf="!isEdit">
                      <input type="text" class="form-control" [(ngModel)]="brand.image_url" name="image_url" placeholder="Image Url" *ngIf="isEdit">
                    </div>
                  </div>
                <div class="row mb-3" *ngIf="isEdit">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Status</label>
                  <div class="col-sm-9">
                    <select class="form-select" aria-label="State" [(ngModel)]="brand.status" name="status">
                      <option value="1">Active</option>
                      <option value="0">Inactive</option>
                    </select>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">{{ isEdit ? 'Update' : 'Submit' }}</button>
                </div>
              </form>

            </div>
          </div>

        </div>

      </div>
    </section>

  </main><!-- End #main -->