<div class="topbar-nav header navbar" role="banner">
  <nav id="topbar">
      <ul class="navbar-nav theme-brand flex-row  text-center">
          <li class="nav-item theme-logo">
              <a href="index.html">
                  <img src="assets/img/90x90.jpg" class="navbar-logo" alt="logo">
              </a>
          </li>
          <li class="nav-item theme-text">
              <a href="index.html" class="nav-link"> CORK </a>
          </li>
      </ul>

      <ul class="list-unstyled menu-categories" id="topAccordion">

        <li class="menu single-menu" *ngFor="let menu of menuData">
            <a [routerLink]="menu.menu_url" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <div class="">
                    <span [innerHTML]="menu.menu_icon | safeHtml"></span>
                    <span>{{ menu.menu_name }}</span>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
            </a>
            <ul *ngIf="menu.submenus && menu.submenus.length > 0" class="collapse submenu list-unstyled" id="more" data-parent="#topAccordion">
                <li *ngFor="let submenu of menu.submenus" class="sub-sub-submenu-list">
                    <a [routerLink]="submenu.submenu_url" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> {{ submenu.submenu_name }} <svg *ngIf="submenu.childmenus && submenu.childmenus.length > 0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg> </a>
                    <ul *ngIf="submenu.childmenus && submenu.childmenus.length > 0" class="collapse list-unstyled sub-submenu eq-animated eq-fadeInUp" id="starter-kit" data-parent="#more">
                        <li *ngFor="let childmenu of submenu.childmenus">
                            <a [routerLink]="childmenu.childmenu_url"> {{ childmenu.child_name }} </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

      </ul>
      
  </nav>
</div>