<main id="main" class="main">

    <div class="pagetitle">
      <h1>Product</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Product</li>
          <li class="breadcrumb-item active">Add</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h5 class="card-title">{{ isEdit ? 'EDIT' : 'ADD' }} Product</h5>                
                <button type="reset" class="btn btn-secondary" (click)="backTo()">Back</button>
              </div>


              <form class="row g-3" (submit)="handleSubmit()">
                <div class="col-md-6">
                  <select class="form-select" [(ngModel)]="productList.vendor_id" name="vendor_id" required>
                    <option selected value="">Select Vendor</option>
                    <option *ngFor="let vendor of vendorList" [value]="vendor.vendor_id">{{ vendor.name }}</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <select class="form-select" [(ngModel)]="productList.brand_id" name="brand_id" required>
                    <option selected value="">Select Brand</option>
                    <option *ngFor="let brand of brandList" [value]="brand.id">{{ brand.brand_name }}</option>
                  </select>
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="productList.product_name" name="product_name" placeholder="Product Name" required>
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" [(ngModel)]="productList.mrp" name="mrp" placeholder="MRP" required>
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" [(ngModel)]="productList.discount_percentage" placeholder="Discount %" name="discount_percentage" required>
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" [(ngModel)]="productList.price" placeholder="Price" name="price" required>
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" [(ngModel)]="productList.stock" placeholder="Stock Count" name="stock" required>
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="productList.image_urls[0]" placeholder="Image URL" name="image_urls" required *ngIf="!isEdit">
                  <!-- <input type="text" class="form-control" [(ngModel)]="productList.image_urls" name="image_urls" placeholder="Image URL" *ngIf="isEdit"> -->
                </div>
                <div class="col-md-12">
                  <textarea class="form-control" placeholder="Description" [(ngModel)]="productList.description" style="height: 80px;" name="description"></textarea>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>

            </div>
          </div>

        </div>

      </div>
    </section>

  </main><!-- End #main -->